@model IEnumerable<Case.Models.Product>

@{
    ViewData["Title"] = "Vis Produkter";
    ViewBag.Title = "Produkter";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Produkter</h1>
    </br>
    
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>        
    </tr>
 
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>       
    </tr>
}
<input type="button" value="Forrige Side" onclick="location.href='@Url.Action("Products", "Home", new {pageNumber = ViewBag.pageNumber - 1})'"/>
<input type="button" value="Næste Side" onclick="location.href='@Url.Action("Products", "Home", new {pageNumber = ViewBag.pageNumber + 1})'" />
 
</table>
</body>

</html>